@font-face {
    font-family: "Source Han Sans SC Black";
    src: url(./fonts/NotoSansTC-Black.otf);
}

@font-face {
    font-family: "Source Han Sans SC Thin";
    src: url(./fonts/NotoSansTC-Thin.otf);
}

@font-face {
    font-family: "Source Han Sans SC Medium";
    src: url(./fonts/NotoSansTC-Medium.otf);
}

@font-face {
    font-family: "Source Han Sans SC light";
    src: url(./fonts/NotoSansTC-Light.otf);
}

body {
    background-color: #000000;
    margin: 0;
    height: auto;
    overflow-x: hidden;
}

.firstBlock {
    height: 3vh;
}

.secBlock {
    height: 3.5vh;
}

.thirdBlock {
    height: 5vh;
}

.fourBlock {
    height: 3.8vh;
}

.fifBlock {
    height: 2.7vh;
}

.sixBlock {
    height: 1.6vh;
}

.sevBlock {
    height: 5.8vh;
}

.eightBlock {
    height: 6.4vh;
}

.text {
    color: white;
    text-align: center;
}

.selfIntro {
    font-family: NotoSansTC-Black;
    font-family: "Source Han Sans SC Black", sans-serif;
    font-size: 3.4vw;
}

.name {
    font-family: NotoSansTC-Medium;
    font-family: "Source Han Sans SC Medium", sans-serif;
    font-size: 1.3vw;
}

.position {
    font-family: NotoSansTC-Medium;
    font-family: "Source Han Sans SC Medium", sans-serif;
    font-size: 0.8vw;
}

.about {
    font-family: NotoSansTC-Thin;
    font-family: "Source Han Sans SC Thin", sans-serif;
    font-size: 1.05vw;
}


/*--*/

nav {
    height: 3vw;
}

ul {
    /* width: 40vw; */
    height: 3vw;
    position: absolute;
    top: 12vw;
    /* top: 15px; */
    left: 50%;
    transform: translateX(-60%);
    list-style: none;
    margin: 0;
    display: flex;
}

ul li {
    margin-left: 3em;
}

ul a {
    text-decoration: none;
    color: aliceblue;
}

ul a span {
    font-family: "Source Han Sans SC Light", sans-serif;
    font-size: 1.5vw;
}

#首頁::after, #ABOUTUS::after, #資源區::after, #PTT::after {
    content: '';
    display: block;
    height: 2px;
    width: 7vw;
    border-radius: 10px;
    background-color: aliceblue;
    margin-top: 2px;
}

#首頁::after {
    height: 2px;
    width: 3vw;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

#資源區::after {
    height: 2px;
    width: 4.5vw;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

#PTT::after {
    height: 2px;
    width: 2.7vw;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

#首頁:hover::after, #資源區:hover::after, #PTT:hover::after {
    transform: scaleX(1);
}

/*photo box*/
.photo_container {
    padding: 0;
    width: 100vw;
    height: 55vh; 
    margin: auto;
    border: 100px solid black;
}

.list {
    width:150vw;
    text-align: center;
    margin: 0;
}

.member {
    width: 33vw;
    height: 30vw;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
}

.member1 {
    background-image: url(img_about_us/elementsidepage3_photomedium1.png);
}

.member2 {
    background-image: url(img_about_us/elementsidepage3_photomedium2.png);
}

.member3 {
    background-image: url(img_about_us/elementsidepage3_photomedium3.png);
}

.member4 {
    background-image: url(img_about_us/elementsidepage3_photomedium4.png);
}

.member5 {
    background-image: url(img_about_us/elementsidepage3_photomedium5.png);
}

.member6 {
    background-image: url(img_about_us/elementsidepage3_photomedium6.png);
}